@model IEnumerable<ECommerce.ApplicationCore.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12 mb-3">
        <form asp-action="Index" asp-controller="Products" method="get">
            <label for="categoryFilter">Filter by Category:</label>
            <select id="categoryFilter" class="form-control" name="categoryId">
                <option value="">All Categories</option>
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src='@Url.Content(@item.ImagePath.Replace("~","https://localhost:7057"))' class="card-img-top product-image" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">Price: $@item.Price</p>
                    <p class="card-text">Category: @item.Category.Name</p>
                    
            <a asp-action="AddToCart" class="btn btn-success" asp-controller="Cart" asp-route-ProductId="@item.Id">Add to Cart</a>
            <a asp-action="AddToWishlist" class="btn btn-success"  asp-controller="WishList" asp-route-ProductId="@item.Id">Add to WishList</a>


               </div>
            </div>
        </div>
    }
</div>
